.menu-wrapper {
  position: sticky;
  width: 30%;
  height: 10%;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  background-color:rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  color: white;
  font-size: 1rem;
  align-items: center;
}

.button-group {
  position: relative;
  display: flex;
  margin: 1vh auto;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  top: 50%;
  transform: translateY(-50%);
}
.button {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 15px;
  align-self: center;
  &:active {
    box-shadow: inset 20px 20px 60px rgba(0, 0, 0, 0.2),
            inset -20px -20px 60px rgba(0, 0, 0, 0.2);
  }
  &:hover {
    box-shadow: inset 20px 20px 60px rgba(0, 0, 0, 0.2),
    inset -20px -20px 60px rgba(0, 0, 0, 0.2);
  }
  &:focus {
    box-shadow: inset 20px 20px 60px rgba(0, 0, 0, 0.2),
    inset -20px -20px 60px rgba(0, 0, 0, 0.2);
  }
  img {
    width: 90%;
    height: 90%;
  }
}